{% include 'overall_header.html' %}

<a id="maincontent"></a>

<h1>{{ lang('ACP_EVENTBOARD_CATEGORIES') }}</h1>
<p>{{ lang('ACP_EVENTBOARD_CATEGORIES_EXPLAIN') }}</p>

{% if S_EDIT_CATEGORY %}

{% if S_ERROR %}
<div class="errorbox">
	<h3>{{ lang('WARNING') }}</h3>
	<p>{{ ERROR_MSG }}</p>
</div>
{% endif %}

<a href="{{ U_BACK }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>

<form id="acp_categories" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{% if CAT_NAME %}{{ lang('EDIT_CATEGORY') }}{% else %}{{ lang('CREATE_CATEGORY') }}{% endif %}</legend>

		<dl>
			<dt><label for="cat_name">{{ lang('CAT_NAME') }}{{ lang('COLON') }}</label><br /><span>{{ lang('CATEGORY_NAME_EXPLAIN') }}</span></dt>
			<dd><input type="text" name="cat_name" id="cat_name" value="{{ CAT_NAME }}" maxlength="255" size="40" />
			</dd>
		</dl>
		<dl>
			<dt><label for="cat_desc">{{ lang('CAT_DESC') }}{{ lang('COLON') }}</label></dt>
			<dd><textarea name="cat_desc" id="cat_desc" rows="3" cols="40">{{ CAT_DESC }}</textarea></dd>
		</dl>
		<dl>
			<dt><label for="cat_color">{{ lang('CAT_COLOR') }}{{ lang('COLON') }}</label><br /><span>{{ lang('CATEGORY_COLOR_EXPLAIN') }}</span></dt>
			<dd>
				<input type="color" name="cat_color" id="cat_color" value="{{ CAT_COLOR }}" required />
			</dd>
		</dl>
		<dl>
			<dt><label for="cat_icon">{{ lang('CAT_ICON') }}{{ lang('COLON') }}</label><br /><span>{{ lang('CATEGORY_ICON_EXPLAIN')|raw }}</span></dt>
			<dd><input type="text" name="cat_icon" id="cat_icon" value="{{ CAT_ICON }}" maxlength="50" size="20" required /> {% if CAT_ICON %}<i
					class="icon {{ CAT_ICON }} fa-fw"></i>{% endif %}</dd>
		</dl>

	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT')|e('html_attr') }}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET')|e('html_attr') }}" />
		</p>
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% else %}

<table class="table1">
	<thead>
		<tr>
			<th>{{ lang('CAT_NAME') }}</th>
			<th>{{ lang('CAT_DESC') }}</th>
			<th style="text-align: center;">{{ lang('CAT_COLOR') }}</th>
			<th>{{ lang('CAT_ICON') }}</th>
			<th style="text-align: center;">{{ lang('CAT_EVENT_COUNT') }}</th>
			<th>{{ lang('ACTION') }}</th>
		</tr>
	</thead>
	<tbody>
		{% for category in loops.categories %}
		<tr>
			<td><strong>{{ category.NAME }}</strong></td>
			<td>{{ category.DESC ? category.DESC : lang('NO_DESCRIPTION') }}</td>
			<td style="text-align: center;">
				<span style="background-color: {{ category.COLOR }}; display: inline-block; width: 35px; height: 15px; border: 1px solid #ccc; vertical-align: middle;"></span>
			</td>
			<td><i class="icon {{ category.ICON }} fa-fw"></i> {{ category.ICON }}</td>
			<td style="text-align: center;">{{ category.EVENT_COUNT }}</td>
			<td style="width: 80px; text-align: center;" class="actions">
				<a href="{{ category.U_EDIT }}">{{ ICON_EDIT }}</a>
				{% if category.S_CAN_DELETE %}
				<a href="{{ category.U_DELETE }}" data-ajax="row_delete">{{ ICON_DELETE }}</a>
				{% else %}
				<span title="{{ lang('CATEGORY_HAS_EVENTS')|e('html_attr') }}" aria-disabled="true" style="opacity: .35; cursor: not-allowed;">{{ ICON_DELETE|replace({'title=': 'data-title='})|raw }}</span>
				{% endif %}
			</td>
		</tr>
		{% else %}
		<tr>
			<td colspan="6" style="text-align: center;">{{ lang('NO_ENTRIES') }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<form id="acp_cat_add" method="post" action="{{ U_ADD_CATEGORY }}">
	<fieldset class="quick">
		<input class="button2" type="submit" name="add" value="{{ lang('CREATE_CATEGORY')|e('html_attr') }}" />
	</fieldset>
</form>

{% endif %}

{% include 'overall_footer.html' %}
