{% include 'overall_header.html' %}

<a id="maincontent"></a>

<h1>{{ lang('ACP_EVENTBOARD_SETTINGS') }}</h1>
<p>{{ lang('ACP_EVENTBOARD_SETTINGS_EXPLAIN') }}</p>

<form id="acp_eventboard_settings" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('ACP_EVENTBOARD_SETTINGS') }}</legend>

		<dl>
			<dt><label for="vinny_calendar_enable">{{ lang('EVENTBOARD_ENABLE') }}:</label><br /><span>{{ lang('EVENTBOARD_ENABLE_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="vinny_calendar_enable" value="1" {% if VINNY_CALENDAR_ENABLE %}checked="checked" {% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="vinny_calendar_enable" value="0" {% if not VINNY_CALENDAR_ENABLE %}checked="checked" {% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="vinny_calendar_allow_comments">{{ lang('EVENTBOARD_ALLOW_COMMENTS') }}:</label><br /><span>{{ lang('EVENTBOARD_ALLOW_COMMENTS_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="vinny_calendar_allow_comments" value="1" {% if VINNY_CALENDAR_ALLOW_COMMENTS %}checked="checked" {% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="vinny_calendar_allow_comments" value="0" {% if not VINNY_CALENDAR_ALLOW_COMMENTS %}checked="checked" {% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="vinny_calendar_enable_feed">{{ lang('EVENTBOARD_ENABLE_FEED') }}:</label><br /><span>{{ lang('EVENTBOARD_ENABLE_FEED_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="vinny_calendar_enable_feed" value="1" {% if VINNY_CALENDAR_ENABLE_FEED %}checked="checked" {% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="vinny_calendar_enable_feed" value="0" {% if not VINNY_CALENDAR_ENABLE_FEED %}checked="checked" {% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="vinny_calendar_reminder_minutes">{{ lang('EVENTBOARD_REMINDER_MINUTES') }}:</label><br /><span>{{ lang('EVENTBOARD_REMINDER_MINUTES_EXPLAIN') }}</span></dt>
			<dd><input type="number" id="vinny_calendar_reminder_minutes" name="vinny_calendar_reminder_minutes" value="{{ VINNY_CALENDAR_REMINDER_MINUTES }}" min="0" max="60" /></dd>
		</dl>

	</fieldset>



	<fieldset>
		<legend>{{ lang('ACP_EVENTBOARD_MAP_SETTINGS') }}</legend>
		<dl>
			<dt><label for="vinny_calendar_geoapify_key">{{ lang('EVENTBOARD_GEOAPIFY_KEY') }}:</label><br /><span>{{ lang('EVENTBOARD_GEOAPIFY_KEY_EXPLAIN') }}</span></dt>
			<dd><input type="text" id="vinny_calendar_geoapify_key" name="vinny_calendar_geoapify_key"
					value="{{ VINNY_CALENDAR_GEOAPIFY_KEY }}" size="50" /></dd>
		</dl>
		<dl>
			<dt><label for="vinny_calendar_map_width">{{ lang('ACP_MAP_WIDTH') }}:</label><br /><span>{{ lang('ACP_MAP_WIDTH_EXPLAIN') }}</span></dt>
			<dd><input type="number" id="vinny_calendar_map_width" name="vinny_calendar_map_width" value="{{ VINNY_CALENDAR_MAP_WIDTH }}" min="100" max="2000" /></dd>
		</dl>
		<dl>
			<dt><label for="vinny_calendar_map_height">{{ lang('ACP_MAP_HEIGHT') }}:</label><br /><span>{{ lang('ACP_MAP_HEIGHT_EXPLAIN') }}</span></dt>
			<dd><input type="number" id="vinny_calendar_map_height" name="vinny_calendar_map_height" value="{{ VINNY_CALENDAR_MAP_HEIGHT }}" min="100" max="2000" /></dd>
		</dl>
		<dl>
			<dt><label for="vinny_calendar_map_zoom">{{ lang('ACP_MAP_ZOOM') }}:</label><br /><span>{{ lang('ACP_MAP_ZOOM_EXPLAIN') }}</span></dt>
			<dd><input type="number" id="vinny_calendar_map_zoom" name="vinny_calendar_map_zoom" value="{{ VINNY_CALENDAR_MAP_ZOOM }}" min="1" max="20" /></dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
		</p>
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include 'overall_footer.html' %}
