{% INCLUDE 'overall_header.html' %}

<h2 class="forum-title">{{ lang('MY_EVENTS') }}</h2>

<div class="action-bar bar-top">
	<div class="topic-actions">
		{% if U_CREATE_EVENT %}
		<a class="button" href="{{ U_CREATE_EVENT }}">
			<span>{{ lang('EVENT_CREATE') }}</span> <i class="icon fa-plus fa-fw" aria-hidden="true"></i>
		</a>
		{% endif %}
	</div>
	<div class="pagination">
		<a class="button{% if not S_SHOW_COMPLETED %} active{% endif %}" href="{{ U_MY_EVENTS_ACTIVE }}">{{ lang('ACTIVE_EVENTS') }}</a>
		<a class="button{% if S_SHOW_COMPLETED %} active{% endif %}" href="{{ U_MY_EVENTS_COMPLETED }}">{{ lang('COMPLETED') }}</a>
	</div>
</div>

<div class="forumbg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt><div class="list-inner">{{ lang('EVENT_DETAILS') }}</div></dt>
					{% if S_SHOW_COMPLETED %}
					<dd class="lastpost">{{ lang('STATUS') }}</dd>
					{% else %}
					<dd class="posts">{{ lang('SIGNUPS') }}</dd>
					<dd class="lastpost calendar-actions-head">{{ lang('ACTIONS') }}</dd>
					{% endif %}
				</dl>
			</li>
		</ul>
		<ul class="topiclist topics">
			{% for event in loops.events %}
			<li class="row{% if event.S_ROW_COUNT is even %} bg1{% else %} bg2{% endif %}">
				<dl class="row-item">
					<dt title="{{ event.TITLE }}" class="calendar-event-row">
						<span class="calendar-row-icon" style="color: #{{ event.CAT_COLOR }};">
							<i class="icon {{ event.CAT_ICON }} fa-fw icon-md" aria-hidden="true"></i>
						</span>
						<div class="list-inner">
							<a href="{{ event.U_VIEW }}" class="topictitle">{{ event.TITLE }}</a>
							<div class="calendar-topic-meta topic-poster">
								<time>{{ event.DATE_FULL }}</time>
							</div>
							<div class="responsive-show calendar-mobile-meta" style="display: none;">
								{% if event.MAX_PARTICIPANTS == 0 %}
								<span>{{ lang('SIGNUPS') }}{{ lang('COLON') }} {{ lang('UNLIMITED_SPOTS') }}</span>
								{% else %}
								<span>{{ lang('SIGNUPS') }}{{ lang('COLON') }} {{ event.NUM_PARTICIPANTS }} / {{ event.MAX_PARTICIPANTS }}</span>
								{% endif %}
								{% if not S_SHOW_COMPLETED %}
								<ul class="post-buttons calendar-mobile-actions">
									{% if event.U_EDIT %}
									<li>
										<a href="{{ event.U_EDIT }}" title="{{ lang('EDIT') }}" class="button button-icon-only">
											<i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('EDIT') }}</span>
										</a>
									</li>
									{% endif %}
									{% if event.U_DELETE %}
									<li>
										<a href="{{ event.U_DELETE }}" data-ajax="true" title="{{ lang('DELETE') }}" class="button button-icon-only">
											<i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('DELETE') }}</span>
										</a>
									</li>
									{% endif %}
								</ul>
								{% endif %}
							</div>
						</div>
					</dt>
					{% if S_SHOW_COMPLETED %}
					<dd class="lastpost">{{ lang('COMPLETED') }}</dd>
					{% else %}
					<dd class="posts responsive-hide">
						{% if event.MAX_PARTICIPANTS == 0 %}
						{{ lang('UNLIMITED_SPOTS') }}
						{% else %}
						{{ event.NUM_PARTICIPANTS }} / {{ event.MAX_PARTICIPANTS }}
						{% endif %}
					</dd>
					<dd class="lastpost calendar-actions-cell responsive-hide">
						<ul class="post-buttons">
							{% if event.U_EDIT %}
							<li>
								<a href="{{ event.U_EDIT }}" title="{{ lang('EDIT') }}" class="button button-icon-only">
									<i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('EDIT') }}</span>
								</a>
							</li>
							{% endif %}
							{% if event.U_DELETE %}
							<li>
								<a href="{{ event.U_DELETE }}" data-ajax="true" title="{{ lang('DELETE') }}" class="button button-icon-only">
									<i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('DELETE') }}</span>
								</a>
							</li>
							{% endif %}
						</ul>
					</dd>
					{% endif %}
				</dl>
			</li>
			{% else %}
			<li class="row bg1">
				<dl class="row-item">
					<dt>{{ lang('NO_EVENTS_FOUND') }}</dt>
				</dl>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="action-bar bar-bottom">
	<div class="pagination">
		{% if TOTAL_EVENTS > 0 %}
			{{ TOTAL_EVENTS }} {{ lang('EVENTS_LOWER') }}
		{% endif %}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% elseif PAGINATION %}
			&bull; {{ PAGINATION }}
		{% elseif TOTAL_EVENTS > 0 %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
</div>

{% INCLUDE 'overall_footer.html' %}
