{% INCLUDE 'overall_header.html' %}

<h2 class="forum-title">{{ CAT_NAME }}</h2>

{% if CAT_DESC %}
	<p>{{ CAT_DESC }}</p>
{% endif %}

<div class="forabg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt><div class="list-inner">{{ lang('EVENT_DETAILS') }}</div></dt>
					<dd class="lastpost calendar-actions">{{ lang('ATTENDING') }}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist forums">
			{% for event in loops.events %}
			<li class="row{% if event.S_ROW_COUNT is even %} bg1{% else %} bg2{% endif %}">
				<dl class="row-item">
					<dt title="{{ event.TITLE|e('html_attr') }}" class="calendar-event-row">
						<span class="calendar-row-icon"{% if event.CAT_COLOR %} style="color: #{{ event.CAT_COLOR }};"{% endif %}>
							<i class="icon {{ event.CAT_ICON }} fa-fw icon-md" aria-hidden="true"></i>
						</span>
						<div class="list-inner">
							<a href="{{ event.U_VIEW }}" class="topictitle">{{ event.TITLE }}</a>
							<div class="calendar-topic-meta topic-poster">
								<time>{{ event.DATE_FULL }}</time>
								<span class="responsive-show" style="display: none;"> {{ lang('ATTENDING') }}{{ lang('COLON') }} {{ event.NUM_PARTICIPANTS }}</span>
							</div>
							<div class="calendar-topic-meta">
								{% if event.S_IS_ONLINE %}
									<i class="icon fa-globe fa-fw" aria-hidden="true"></i> {{ lang('EVENT_ONLINE') }}
								{% else %}
									<i class="icon fa-map-marker fa-fw" aria-hidden="true"></i> {{ event.LOCATION }}
								{% endif %}
							</div>
						</div>
					</dt>
					<dd class="lastpost calendar-actions responsive-hide">{{ event.NUM_PARTICIPANTS }}</dd>
				</dl>
			</li>
			{% else %}
			<li class="row bg1">
				<dl class="row-item">
					<dt><div class="list-inner">{{ lang('NO_UPCOMING_EVENTS') }}</div></dt>
				</dl>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="action-bar bar-bottom">
	<div class="pagination">
		{% if TOTAL_EVENTS %}{{ TOTAL_EVENTS }}{% endif %}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
</div>

{% INCLUDE 'overall_footer.html' %}
