{% INCLUDE 'overall_header.html' %}

<h2 class="forum-title">{{ lang('MY_RSVPS') }}</h2>

<div class="forumbg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt><div class="list-inner">{{ lang('EVENT_DETAILS') }}</div></dt>
					<dd class="lastpost calendar-actions-head">{{ lang('ACTIONS') }}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist topics">
			{% for event in loops.events %}
			<li class="row{% if event.S_ROW_COUNT is even %} bg1{% else %} bg2{% endif %}">
				<dl class="row-item">
					<dt title="{{ event.TITLE }}" class="calendar-event-row">
						<span class="calendar-row-icon" style="color: #{{ event.CAT_COLOR }};">
							<i class="icon {{ event.CAT_ICON }} fa-fw icon-md" aria-hidden="true"></i>
						</span>
						<div class="list-inner">
							<a href="{{ event.U_VIEW }}" class="topictitle">{{ event.TITLE }}</a>
							<div class="calendar-topic-meta topic-poster">
								<time>{{ event.DATE_FULL }}</time>
							</div>
							<div class="responsive-show calendar-mobile-meta" style="display: none;">
								<div class="calendar-mobile-actions">
									<form action="{{ event.U_LEAVE }}" method="post" class="calendar-inline-form">
										<button type="submit" name="submit_leave" title="{{ lang('LEAVE') }}" class="button button-icon-only">
											<i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('LEAVE') }}</span>
										</button>
										{{ S_FORM_TOKEN }}
									</form>
								</div>
							</div>
						</div>
					</dt>
					<dd class="lastpost calendar-actions-cell responsive-hide">
						<form action="{{ event.U_LEAVE }}" method="post" class="calendar-inline-form">
							<button type="submit" name="submit_leave" title="{{ lang('LEAVE') }}" class="button button-icon-only">
								<i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('LEAVE') }}</span>
							</button>
							{{ S_FORM_TOKEN }}
						</form>
					</dd>
				</dl>
			</li>
			{% else %}
			<li class="row bg1">
				<dl class="row-item">
					<dt>{{ lang('NO_RSVPS_FOUND') }}</dt>
				</dl>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="action-bar bar-bottom">
	<div class="pagination">
		{% if TOTAL_EVENTS > 0 %}
			{{ TOTAL_EVENTS }} {{ lang('EVENTS_LOWER') }}
		{% endif %}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% elseif PAGINATION %}
			&bull; {{ PAGINATION }}
		{% elseif TOTAL_EVENTS > 0 %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
</div>

{% INCLUDE 'overall_footer.html' %}
