{% INCLUDE 'overall_header.html' %}

<h2 class="forum-title">{{ lang('MY_EVENTS') }}</h2>

<div class="action-bar bar-top">
	{% if U_CREATE_EVENT %}
	<a class="button button-primary" href="{{ U_CREATE_EVENT }}" title="{{ lang('EVENT_CREATE')|e('html_attr') }}">
		<span>{{ lang('EVENT_CREATE') }}</span> <i class="icon fa-plus fa-fw" aria-hidden="true"></i>
	</a>
	{% endif %}

	<a class="button{% if not S_SHOW_COMPLETED %} active{% endif %}" href="{{ U_MY_EVENTS_ACTIVE }}">{{ lang('ACTIVE_EVENTS') }}</a>
	<a class="button{% if S_SHOW_COMPLETED %} active{% endif %}" href="{{ U_MY_EVENTS_COMPLETED }}">{{ lang('COMPLETED') }}</a>

	<div class="pagination">
		{% if TOTAL_EVENTS %}{{ TOTAL_EVENTS }}{% endif %}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
</div>

<div class="forumbg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt><div class="list-inner">{{ lang('EVENT_DETAILS') }}</div></dt>
					{% if S_SHOW_COMPLETED %}
					<dd class="lastpost calendar-actions">{{ lang('STATUS') }}</dd>
					{% else %}
					<dd class="posts">{{ lang('SIGNUPS') }}</dd>
					<dd class="lastpost calendar-actions">{{ lang('ACTIONS') }}</dd>
					{% endif %}
				</dl>
			</li>
		</ul>
		<ul class="topiclist topics">
			{% for event in loops.events %}
			<li class="row{% if event.S_ROW_COUNT is even %} bg1{% else %} bg2{% endif %}">
				<dl class="row-item">
					<dt title="{{ event.TITLE|e('html_attr') }}" class="calendar-event-row">
						<span class="calendar-row-icon"{% if event.CAT_COLOR %} style="color: #{{ event.CAT_COLOR }};"{% endif %}>
							<i class="icon {{ event.CAT_ICON }} fa-fw icon-md" aria-hidden="true"></i>
						</span>
						<div class="list-inner">
							{% if not S_SHOW_COMPLETED %}
							<div class="responsive-show calendar-mobile-actions-right" style="display: none;">
								{% if event.U_EDIT %}
								<a href="{{ event.U_EDIT }}" title="{{ lang('EDIT_EVENT')|e('html_attr') }}" class="button button-icon-only">
									<i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('EDIT_EVENT') }}</span>
								</a>
								{% endif %}
								{% if event.U_DELETE %}
								<a href="{{ event.U_DELETE }}" data-ajax="true" title="{{ lang('DELETE')|e('html_attr') }}" class="button button-icon-only">
									<i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('DELETE') }}</span>
								</a>
								{% endif %}
							</div>
							{% endif %}

							<a href="{{ event.U_VIEW }}" class="topictitle">{{ event.TITLE }}</a>
							<div class="topic-poster">
								<time>{{ event.DATE_FULL }}</time>
								{% if event.MAX_PARTICIPANTS == 0 %}
								<span class="responsive-show" style="display: none;">{{ lang('UNLIMITED_SPOTS') }}</span>
								{% else %}
								<span class="responsive-show" style="display: none;">{{ lang('SIGNUPS') }}{{ lang('COLON') }} {{ event.NUM_PARTICIPANTS }} / {{ event.MAX_PARTICIPANTS }}</span>
								{% endif %}
							</div>
						</div>
					</dt>
					{% if S_SHOW_COMPLETED %}
					<dd class="lastpost calendar-actions">{{ lang('COMPLETED') }}</dd>
					{% else %}
					<dd class="posts responsive-hide">
						{% if event.MAX_PARTICIPANTS == 0 %}
						{{ lang('UNLIMITED_SPOTS') }}
						{% else %}
						{{ event.NUM_PARTICIPANTS }} / {{ event.MAX_PARTICIPANTS }}
						{% endif %}
					</dd>
					<dd class="lastpost calendar-actions responsive-hide">
						<ul class="post-buttons">
							{% if event.U_EDIT %}
							<li>
								<a href="{{ event.U_EDIT }}" title="{{ lang('EDIT_EVENT')|e('html_attr') }}" class="button button-icon-only">
									<i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('EDIT_EVENT') }}</span>
								</a>
							</li>
							{% endif %}
							{% if event.U_DELETE %}
							<li>
								<a href="{{ event.U_DELETE }}" data-ajax="true" title="{{ lang('DELETE')|e('html_attr') }}" class="button button-icon-only">
									<i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('DELETE') }}</span>
								</a>
							</li>
							{% endif %}
						</ul>
					</dd>
					{% endif %}
				</dl>
			</li>
			{% else %}
			<li class="row bg1">
				<dl class="row-item">
					<dt>{{ lang('NO_EVENTS_FOUND') }}</dt>
				</dl>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="action-bar bar-bottom">
	<div class="pagination">
		{% if TOTAL_EVENTS %}{{ TOTAL_EVENTS }}{% endif %}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
</div>

{% INCLUDE 'overall_footer.html' %}
