{% INCLUDE 'overall_header.html' %}

<h2 class="forum-title">{{ lang('MY_RSVPS') }}</h2>

<div class="action-bar bar-top">
	<div class="pagination">
		{% if TOTAL_EVENTS %}{{ TOTAL_EVENTS }}{% endif %}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
</div>

<div class="forumbg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt><div class="list-inner">{{ lang('EVENT_DETAILS') }}</div></dt>
					<dd class="posts">{{ lang('SIGNUPS') }}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist topics">
			{% for event in loops.events %}
			<li class="row{% if event.S_ROW_COUNT is even %} bg1{% else %} bg2{% endif %}">
				<dl class="row-item">
					<dt title="{{ event.TITLE }}" class="calendar-event-row">
						<span class="calendar-row-icon"{% if event.CAT_COLOR %} style="color: #{{ event.CAT_COLOR }};"{% endif %}>
							<i class="icon {{ event.CAT_ICON }} fa-fw icon-md" aria-hidden="true"></i>
						</span>
						<div class="list-inner">
							<a href="{{ event.U_VIEW }}" class="topictitle">{{ event.TITLE }}</a>
							<div class="topic-poster">
								<time>{{ event.DATE_FULL }}</time>
								{% if event.MAX_PARTICIPANTS == 0 %}
								<span class="responsive-show" style="display: none;">{{ lang('SIGNUPS') }}{{ lang('COLON') }} {{ lang('UNLIMITED_SPOTS') }}</span>
								{% else %}
								<span class="responsive-show" style="display: none;">{{ lang('SIGNUPS') }}{{ lang('COLON') }} {{ event.NUM_PARTICIPANTS }} / {{ event.MAX_PARTICIPANTS }}</span>
								{% endif %}
							</div>
						</div>
					</dt>
					<dd class="posts responsive-hide">
						{% if event.MAX_PARTICIPANTS == 0 %}
						{{ lang('UNLIMITED_SPOTS') }}
						{% else %}
						{{ event.NUM_PARTICIPANTS }} / {{ event.MAX_PARTICIPANTS }}
						{% endif %}
					</dd>
				</dl>
			</li>
			{% else %}
			<li class="row bg1">
				<dl class="row-item">
					<dt>{{ lang('NO_RSVPS_FOUND') }}</dt>
				</dl>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="action-bar bar-bottom">
	<div class="pagination">
		{% if TOTAL_EVENTS %}{{ TOTAL_EVENTS }}{% endif %}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
</div>

{% INCLUDE 'overall_footer.html' %}
